@use '../util/' as u;

.hero {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-block: 64px 32px;

  @include u.breakpoint(medium) {
    padding-block: 64px;
  }

  @include u.breakpoint(medium) {
    padding-block: 87px;
  }

  picture {
    margin-bottom: 48px;

    @include u.breakpoint(medium) {
      margin-bottom: 72px;
    }

    @include u.breakpoint(large) {
      display: none;
    }
  }

  &__image {
    width: 100%;
    height: auto;

    @include u.breakpoint(large) {
      display: none;
    }
  }

  &__wrapper {
    @include u.breakpoint(medium) {
      width: 448px;
    }

    @include u.breakpoint(large) {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      gap: clamp(40px, 8vw, 127.85px);
      max-width: 1120px;
      margin: 0 auto;
    }
  }

  &__image-left {
    display: none;

    @include u.breakpoint(large) {
      display: block;
      align-self: flex-start;
      width: 394px;
      height: 303px;
      flex-shrink: 0;
      margin-top: -30px;
    }
  }

  &__text-wrapper {
    display: grid;
    gap: 24px;
    text-align: center;

    @include u.breakpoint(large) {
      width: 448px;
      flex-shrink: 0;
    }
  }

  &__cta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  &__button {
    display: inline-block;
    gap: 16px;
    padding: 16px 40px;
    font-size: u.rem(16);
    line-height: 1.5;
    font-weight: 900;
    color: var(--white);
    border-radius: 29px;
    transition: background-color 120ms ease-in-out;
  }

  span {
    color: var(--cyan-300);
    margin-left: 2.5px;
  }

  .button-cyan {
    background-color: var(--cyan-600);
  }

  .button-cyan:hover {
    background-color: var(--cyan-300);
  }

  .button-purple {
    background-color: var(--purple-600);
  }

  .button-purple:hover {
    background-color: var(--button-purple-hover);
  }

  &__image-right {
    display: none;

    @include u.breakpoint(large) {
      display: block;
      align-self: flex-end;
      width: 394px;
      height: 303px;
      flex-shrink: 0;
      margin-bottom: -30px;
    }
  }
}
