@use '../util/' as u;

.topnav {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block-start: 48px;

    @include u.breakpoint(large) {
      padding-block-start: 80px;
    }
  }

  &__logo {
    width: u.rem(118);
  }
}
